@import "/css/bootstrap/bootstrap.less";

@fluidSidebarWidth: 225px;

// mixins
.user-select() {
    -webkit-user-select: @arguments;
    -khtml-user-select: @arguments;
    -moz-user-select: @arguments;
    -ms-user-select: @arguments;
    -o-user-select: @arguments;
    user-select: @arguments;
}

.box() {
    padding: 10px;
    margin-bottom: 20px;

    background-color: white;

    .border-radius(5px);
    .box-shadow(0 3px 7px rgba(0, 0, 0, 0.3));
}

.prepend-columns(@columns: 1, @prepend: 36) {
    width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1)) - @prepend;
}

.scrollbar(vertical) {
    overflow: hidden;
    overflow-y: auto;
}
.scrollbar(horizontal) {
    overflow: hidden;
    overflow-x: auto;
}

.scrollbar(@_) {
    ::-webkit-scrollbar {
        width:10px;
        height:10px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.2);
        -webkit-border-radius: 4px;
    }

    ::-webkit-scrollbar-button:start:decrement,
    ::-webkit-scrollbar-button:end:increment {
        display: none;
    }
}

html {
    overflow-y: hidden;

    body {
        background-color: #1b69a1;
        background-image: url('/images/bg.png');

        padding-top: 40px;

        font-family: 'Ubuntu', sans-serif;

        .user-select(none);

        // hide help lines
        &.no-help {
            .help-text {
                display: none;
            }
        }

        ::-webkit-input-placeholder {
            color:#DFDFDF;
        }

        a {
            cursor: pointer;
        }

        details {
            display: inline-block;
        }

        i {
            vertical-align: top;
            margin-top: 2px;
            margin-right: 4px;

            background-image: url('/images/icons/halflings.png');

            &.info {
                background-image: url('/images/icons/info.png');
            }

            &.question {
                background-image: url('/images/icons/question.png');
            }

            &.home {
                background-image: url('/images/icons/home.png');
                background-position: 0px 0px;
            }

            &.settings {
                background-image: url('/images/icons/settings.png');
            }

            &.history {
                background-image: url('/images/icons/history.png');
            }


            &.facebook {
                background-image: url('/images/presets/facebook.png');
            }

            &.flickr {
                background-image: url('/images/presets/flickr.png');
            }

            &.foursquare {
                background-image: url('/images/presets/foursquare.png');
            }

            &.googleplus {
                background-image: url('/images/presets/googleplus.png');
            }

            &.linkedin {
                background-image: url('/images/presets/linkedin.png');
            }

            &.quora {
                background-image: url('/images/presets/quora.png');
            }

            &.twitter {
                background-image: url('/images/presets/twitter.png');
            }

            &.youtube {
                background-image: url('/images/presets/youtube.png');
            }
        }

        form {
            input,
            select,
            textarea {
                font-family: 'Droid Sans Mono', monospace;

                &[disabled] {
                    background-color: #DDD;
                    border: 1px solid #CCC;
                }

                &[name="url"],
                &[name="method"] {
                    font-weight: bold;
                }
            }

            select {
                background-color: #EEE;
            }

            .control-group {
                &.success {
                    input,
                    textarea {
                        color: #555;
                    }
                }

                .control-label {
                    height: 20px;
                    line-height: 20px;
                    color: #404040;

                    a {
                        display: block;
                        float: left;
                        width: 16px;
                        height: 20px;
                        margin-right: 5px;
                        background-image: url('/images/w3-gray.png');
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                    }

                }

                &:hover {
                    .control-label {
                        a {
                            background-image: url('/images/w3.png');
                        }
                    }
                }

                .controls {
                    &.error {
                        .formFieldState(#b94a48, #ee5f5b, lighten(#ee5f5b, 30%));
                    }

                    .input-prepend {
                        .add-on {
                            &.active {
                                position: relative;
                                z-index: 2;
                            }
                        }
                    }

                    input[type="file"] {
                        display: inline-block;
                        width: 210px;
                        height: @baseLineHeight;
                        padding: 4px;
                        font-size: @baseFontSize;
                        line-height: @baseLineHeight;
                        color: @gray;
                        border: 1px solid #ccc;
                        .border-radius(3px);
                        .box-shadow(inset 0 1px 3px rgba(0,0,0,.1));
                        @transition: border linear .2s, box-shadow linear .2s;
                        .transition(@transition);

                        &:focus {
                          border-color: rgba(82,168,236,.8);
                          @shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
                          .box-shadow(@shadow);
                          outline: 0;
                        }
                    }
                }

                .control-list {
                    label {
                        input {
                            margin-right: 3px;
                        }
                    }
                }
            }

            .row {
                margin-left: 0px;

                [class*="span"]:first-child {
                    margin-left: 0px;
                }
            }

            .pairs {
                &.control-group {
                    .controls {
                        margin-bottom: 10px;

                        .span2 {
                            .prepend-columns(3, 24);

                            &.smaller {
                                .prepend-columns(3, 55);
                            }
                        }

                        .input-append {
                            margin-bottom: 0px;

                            input {
                                float: left;
                                margin-bottom: 0px;
                                .border-radius(3px 0 0 3px);

                                &:nth-of-type(2) {
                                    .border-radius(0);
                                    border-left: none;
                                }
                            }

                            .add-on {
                                width: 25px;

                                &.add {
                                    display: none;
                                    background-color: #57A957;

                                    &:before {
                                        content: url('/images/icons/add.png');
                                    }
                                }

                                &.remove {
                                    background-color: #C43C35;

                                    &:before {
                                        content: url('/images/icons/delete.png');
                                    }
                                }
                            }
                        }

                        &:last-of-type {
                            .input-append {
                                .add-on {
                                    &.add {
                                        display: block;
                                    }

                                    &.remove {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .nav {
            &.presets {
                margin-left: -10px;

                > li {
                    &.nav-header {
                        padding-left: 25px;
                    }

                    &:not(.nav-header) {
                        display: block;
                        padding: 3px 25px;
                        margin-left: -15px;
                        margin-right: -15px;
                        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

                        &:hover {
                            background-color: #eee;

                            summary {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            li {
                &.active {
                    a {
                        &:hover {
                            span {
                                border-color: white;
                            }
                        }

                        span {
                            border-color: white;
                        }
                    }
                }

                a {
                    &:hover {
                        span {
                            border-color: #005580;
                        }
                    }

                    span {
                        border-bottom: 1px solid #08C;
                    }
                }
            }
        }

        .navbar {
            .brand {
                width: @fluidSidebarWidth;
                margin-right: 20px;
                padding: 4px 0px 4px 20px;

                font-family: 'Orbitron', sans-serif;

                img {
                    margin-right: 4px;
                }

                span {
                    display: inline-block;
                    margin-top: 3px;
                }

                small {
                    display: block;
                    margin-top: -5px;
                    font-size: 10px;
                    font-family: 'Ubuntu', sans-serif;
                }
            }

            .nav {
                li {
                    &.active {
                        a {
                            span {
                                border-color: white;
                            }
                        }
                    }

                    a {
                        &:hover {
                            span {
                                border-color: white;
                            }
                        }

                        span {
                            border-color: #999;
                        }
                    }
                }
            }
        }

        .tabbable {
            margin-bottom: 10px;

            .tab-content {
                border: 1px solid #DDD;
                border-top: none;

                padding: 5px 10px;
                margin: -18px 0px 0px 0px;

                .border-radius(0px 0px 4px 4px);
            }

            &.tabs-below {
                .tab-content {
                    border: 1px solid #DDD;
                    border-bottom: none;

                    margin: 0px;

                    .border-radius(4px 4px 0px 0px);
                }
            }
        }

        .fluid-container {
            .fluid-content {
                width: @siteWidth + 22px;
            }

            &.main {
                //background-image: url('/images/wash-white-30.png');

                .scrollbar(vertical);

                ::-webkit-scrollbar-thumb {
                    background-color: lighten(#1B69A1, 50%);
                }

                &[data-screen="main"] {
                    [data-screen-name="main"] {
                        display: block;
                    }

                    [data-screen-name="help"],
                    [data-screen-name="about"],
                    [data-screen-name="settings"] {
                        display: none;
                    }
                }

                &[data-screen="settings"] {
                    [data-screen-name="settings"] {
                        display: block;
                    }

                    [data-screen-name="help"],
                    [data-screen-name="main"],
                    [data-screen-name="about"] {
                        display: none;
                    }
                }

                &[data-screen="help"] {
                    [data-screen-name="help"] {
                        display: block;
                    }

                    [data-screen-name="main"],
                    [data-screen-name="about"],
                    [data-screen-name="settings"] {
                        display: none;
                    }
                }

                &[data-screen="about"] {
                    [data-screen-name="about"] {
                        display: block;
                    }

                    [data-screen-name="main"],
                    [data-screen-name="help"],
                    [data-screen-name="settings"] {
                        display: none;
                    }
                }

                > .fluid-sidebar {
                    @width: @fluidSidebarWidth - 20px;

                    .box();

                    width: @width;

                    min-height: 500px;
                    position: fixed;
                    top: 60px;

                    .well {
                        padding: 8px 0px;
                        margin-bottom: 10px;

                        h3 {
                            font-size: 11px;
                            font-weight: bold;
                            line-height: 18px;
                            color: #999;
                            text-transform: uppercase;
                            padding-left: 14px;
                            padding-right: 14px;
                        }

                        &:last-of-type {
                            width: @width;
                            position: absolute;
                            bottom: 0px;
                        }
                    }

                    .tabbable {
                        .nav.list {
                            padding-left: 0px;
                            height: 190px;

                            .scrollbar(vertical);

                            li {
                                & + .nav-header {
                                    margin-top: 0px;
                                }

                                a {
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                }

                > .fluid-content {
                    padding-top: 20px;
                }
            }
        }

        .span2 {
            .input-prepend {
                input {
                    &.span2 {
                        .prepend-columns(2);
                    }
                }
            }
        }

        .span6 {
            .input-prepend {
                input {
                    &.span6 {
                        .prepend-columns(6);
                    }
                }
            }
        }

        .input-prepend {
            input {
                &.span12 {
                    .prepend-columns(12);
                }
            }
        }

        section {
            .box();

            &.minimize {
                header {
                    margin-bottom: 0px;

                    a {
                        background-image: url(/images/icons/resize_full.png);
                    }
                }

                div {
                    display: none;
                }
            }

            header {
                margin-bottom: 10px;

                h2 {
                    font-family: 'Orbitron', sans-serif;
                }

                a {
                    display: block;
                    float: right;

                    background-image: url(/images/icons/resize_small.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    width: 24px;
                    height: 36px;
                }
            }

            &#help,
            &#settings,
            &#response {
                header {
                    a {
                        display: none;
                    }
                }
            }

            &#target {
                .auth {
                    button {
                        line-height: 16px;

                        img {
                            margin-right: 5px;
                            vertical-align: middle;
                        }
                    }
                }
            }

            &#payload {
                .tab-content {
                    min-height: 300px;

                    .tab-pane {
                        &.urlencoded {
                            .help-text {
                                display: block;
                            }

                            .pairs {
                                display: none;
                            }
                        }

                        &.urlencoded.true {
                            .help-text {
                                display: none;
                            }

                            .pairs {
                                display: block;
                            }
                        }
                    }
                }
            }

            &#response {
                min-height: 500px;

                pre {
                    .user-select(text);
    /*
                    -webkit-user-select: text;
                    -khtml-user-select: text;
                    -moz-user-select: text;
                    -ms-user-select: text;
                    -o-user-select: text;
                    user-select: text;

                    overflow: auto;

                    min-width: 1043px;
                    max-width: 900px;
                    min-height: 400px;
                    max-height: 900px;

                    white-space: pre;
                    word-wrap: normal;

                    &:empty {
                        &:before {
                            content: 'No Request Initiated';
                        }
                    }
    */
                }
            }
        }

        footer {
            &.navbar-fixed {
                bottom: 0;
                top: inherit;

                .btn {
                    margin-bottom: 5px;
                }
            }

            .controls {
                button {
                    margin-right: 10px;


                    &[data-action="stop"] {
                        display: none;
                    }
                }

                .pull-right {
                    button {
                        margin-right: 0px;
                    }
                }

                &.progress {
                    button {
                        &[data-action="stop"] {
                            display: inline-block;
                        }

                        &:not([data-action="stop"]) {
                            display: none;
                        }
                    }
                }
            }
        }


        .autocomplete {
            z-index: 99;

            -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

            border: 1px solid #CCC;
            border-top: none;

            -webkit-border-radius: 0px 0px 3px 3px;
            -moz-border-radius: 0px 0px 3px 3px;
            border-radius: 0px 0px 3px 3px;

            min-height: 19px;
            max-height: 100px;

            background-color: white;

            .scrollbar(vertical);

            div {
                padding: 3px;

                &.active,
                &:hover {
                    color: white;
                    background-color: #3875D7;
                    cursor: pointer;
                }
            }
        }
    }
}

/*

form[name="request"] .actions.progress {
    background-image: url('../images/progress.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

form[name="request"] .actions.progress input.stop {
    display: inline-block;
}

form[name="request"] .actions.progress input:not(.stop) {
    display: none;
}

#responsePreview {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
background: #FEFBF3;
padding: 9px;
border: 1px solid rgba(0, 0, 0, .2);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;


font-family: Monaco, Andale Mono, Courier New, monospace;
line-height: 18px;
font-size: 12px;
}

#responsePreview:empty:before {
    content: 'No Preview Available';
}

#responsePreview iframe {
    width: 100%;
    height: 100%;
    border: none;
}



.form-stacked label span {
    font-weight: normal;
}

.container {
    width: 960px
}

.paypal {
    box-shadow: none;
    padding: 0px;
    border: none;
    width: auto;
    height: auto;
}

form[name="request"] {
    padding:0px;
}

form[name="request"] > div {
    padding-left: 10px;
}

form[name="request"] #actions {
    margin-top: 10px;
}

form[name="request"].form-stacked > .actions {
    margin-left: 0px;
}
* */
