@import "/css/fonts.less";
@import "/css/bootstrap/bootstrap.less";

@baseFontFamily: "Ubuntu", Helvetica, Arial, sans-serif;
@brandFontFamily: "Orbitron", "Ubuntu", Helvetica, Arial, sans-serif;
@monoFontFamily: "Ubuntu Mono", Menlo, Monaco, "Courier New", monospace;

@transition: all .15s ease-in;

@navbarLinkColor: @grayDarker;
@navbarBorderColor: #CACACA;
@navbarBackground: #EAEAEA;
@navbarBackgroundHighlight: #FAFAFA;

.box() {
    padding: 10px;
    margin-bottom: 20px;

    background-color: @white;

    border: 1px solid @navbarBorderColor;

    .border-radius(5px);

    background-color: #FAFAFB;
}

.scrollbar(vertical) {
    overflow: hidden;
    overflow-y: auto;
}

.scrollbar(horizontal) {
    overflow: hidden;
    overflow-x: auto;
}

.scrollbar(@_) {
    ::-webkit-scrollbar {
        width:10px;
        height:10px;
        background-color: transparent
    }

    ::-webkit-scrollbar-thumb {
        background-color: @navbarBackground;
        border: 1px solid @navbarBorderColor;
        .border-radius(3px);
    }

    ::-webkit-scrollbar-button:start:decrement,
    ::-webkit-scrollbar-button:end:increment {
        height: 5px;
    }
}

html {
    overflow-y: hidden;

    body {
        padding-top: 40px;

        background-color: @white;
        background-image: url('/images/bg.png');
        background-repeat: repeat;

        .user-select(none);

        // hide help lines
        &.no-help {
            .help-text {
                display: none;
            }
        }

        .selectable {
            .user-select(text);
        }

        p.help-text {
            margin-bottom: 0px;
        }

        // anchors without href attribute
        a {
            cursor: pointer;
        }

        .alert {
            position: fixed;
            top: 65px;
            left: 50%;
            z-index: 2000;
            width: 500px;
            margin: 0px 0px 0px -250px;
        }

        [class^="icon-"] {
            // because custom fonts change size
            margin-top: 2px;
            margin-right: 4px;

            background-image: url('/images/icons/glyphicons-halflings.png');

            &.icon-white {
                background-image: url('/images/icons/glyphicons-halflings-white.png');
            }
        }

        .navbar {
            &.navbar-fixed-bottom {
                .navbar-inner {
                    border-top: 1px solid @navbarBorderColor;
                    .box-shadow(0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1));
                    .border-radius(0px);
                }
            }

            .navbar-inner {
                border-bottom: 1px solid @navbarBorderColor;
                .box-shadow(0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1));
                height: @navbarHeight;
            }

            .brand {
                padding: 4px 0px 4px 0px;

                color: @grayDarker;
                font-size: 22px;
                font-family: @brandFontFamily;

                img {
                    margin-right: 4px;
                }

                span {
                    display: inline-block;
                    margin-top: 3px;
                }

                small {
                    display: block;
                    margin-top: -5px;
                    font-size: @baseFontSize - 3;
                    font-family: @baseFontFamily;
                }
            }

            .nav {
                li {
                    &.active {
                        a {
                            text-shadow: none;

                            &:hover {
                                span {
                                    border-color: @white;
                                }
                            }

                            span {
                                border-color: @white;
                            }
                        }
                    }

                    &:hover {
                        a {
                            color: @linkColor;

                            span {
                                border-color: @linkColor;
                            }
                        }
                    }

                    a {
                        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
                        .transition(@transition);

                        span {
                            .transition(border-color .15s ease-in);
                            border-bottom: 1px solid @navbarLinkColor;
                        }
                    }
                }
            }

            .social {
                list-style: none;

                li:not(.divider-vertical) {
                    height: 20px;
                    width: 100px;
                    margin: 10px 0px;

                    &.facebook {
                        width: 90px;
                    }

                    &.googleplus {
                        width: 85px;
                    }

                    &.linkedin {
                        width: 110px;
                    }

                    &.github {
                        width: 100px;
                    }

                    iframe {
                        border: none;
                        overflow: hidden;
                        width: 100px !important;
                        height: 21px;
                    }
                }
            }
        }

        section {
            .box();

            overflow: hidden;

            &.minimize {
                height: 32px;
                padding-bottom: 0px;

                header {
                    border-bottom: none;
                    margin-bottom: 0px;

                    .border-radius(5px);

                    a {
                        background-image: url(/images/icons/resize_full.png);
                    }
                }
            }

            &.hide {
                div {
                    display: none;
                }
            }

            header {
                margin-bottom: 10px;

                margin: -10px -10px 10px -10px;
                padding: 10px 10px 8px 10px;

                #gradient > .vertical(#FAFAFA, #EAEAEA);
                .border-radius(5px 5px 0px 0px);

                border-bottom: 1px solid #E1E1E2;

                h2 {
                    margin: 0px;
                    line-height: 24px;
                    font-family: @brandFontFamily;
                }

                a {
                    .transition(@transition);

                    display: block;
                    float: right;

                    background-image: url(/images/icons/resize_small.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    width: 24px;
                    height: 24px;
                }
            }

            &#help,
            &#settings,
            &#response {
                header {
                    a {
                        display: none;
                    }
                }
            }

            &#payload {
                .tab-content {
                    min-height: 200px;

                    .tab-pane {
                        .clearfix();

                        &.urlencoded,
                        &.attachments {
                            .pairs {
                                margin: 10px 0px 0px 0px;

                                label {
                                    display: none;
                                }
                            }
                        }

                        &.attachments {
                            input[type="file"] {
                                display: inline-block;
                                width: 210px;
                                height: @baseLineHeight + 4;
                                padding: 4px;
                                font-size: @baseFontSize;
                                line-height: @baseLineHeight + 4;
                                color: @gray;
                                border: 1px solid #ccc;
                                .border-radius(0px 3px 3px 0px);
                                .box-shadow(inset 0 1px 3px rgba(0,0,0,.1));
                            }

                            input[type="text"] {
                                height: @baseLineHeight + 4;
                                line-height: @baseLineHeight + 4;
                                border-right: none;
                            }

                            .add-on {
                                padding-top: 6px;
                                height: @baseLineHeight + 2;
                            }
                        }

                        &.urlencoded {
                            .pairs {
                                display: none;

                                .help-text {
                                    display: block;
                                }
                            }

                            &.enabled {
                                .help-text {
                                    display: none;
                                }

                                .pairs {
                                    display: block;
                                }
                            }
                        }

                        textarea {
                            min-height: 150px;
                            max-width: ((@gridColumnWidth) * 5.75) + (@gridGutterWidth * (5.75 - 1)) - 10;
                        }
                    }
                }
            }

            &#response {
                pre {
                    font-family: @monoFontFamily;
                    font-size: @baseFontSize;

                    .user-select(text);

                    white-space: pre;
                    word-wrap: normal;

                    .scrollbar(vertical);

                    overflow: auto;

                    margin-bottom: 0px;

                    &.har {
                        word-wrap: break-word;
                    }

                    code {
                        display: block;
                        color: inherit;
                        border: none;
                        width: 100%;

                        &:empty {
                            &:before {
                                content: 'No Information Available';
                                display: block;
                                width: 200px;
                                margin: 0 auto;
                                padding: 10px;
                            }
                        }
                    }
                }

                #preview {
                    padding: 8px;
                    background-color: #F7F7F9;
                    border: 1px solid #E1E1E8;
                    .border-radius(4px);
                    .scrollbar(vertical);

                    &:empty {
                        font-family: @baseFontFamily;
                        font-size: @baseFontSize;

                        padding: 8px;

                        .border-radius(4px);
                        background-color: #F7F7F9;
                        border: 1px solid #E1E1E8;

                        &:before {
                            content: 'No Preview Available';
                            display: block;
                            width: 150px;
                            margin: 0 auto;
                            padding: 10px;
                            color: #333;
                        }
                    }

                    iframe {
                        width: 100%;
                        height: 100%;
                        border: none;
                        .border-radius(6px);
                    }

                    img {
                        display: block;
                        margin: 10px auto;
                    }
                }
            }
        }

        footer {
            &.active {
                .progress {
                    display: block;
                }

                button {
                    &[data-action="stop"] {
                        display: inline-block;
                    }

                    &:not([data-action="stop"]) {
                        display: none;
                    }
                }
            }

            button {
                margin-right: 10px;

                &[data-action="stop"] {
                    display: none;
                }
            }

            .progress {
                display: none;
                margin: 10px 0px;
                .transition(width 5s ease);
            }

            .pull-right {
                button {
                    margin-right: 0px;
                }
            }
        }

        form {
            label,
            button {
                font-family: @baseFontFamily;
            }

            input,
            select,
            textarea {
                width: 100%;
                font-size: @baseFontSize + 1;
                font-family: @monoFontFamily;
                margin-bottom: 5px;

                &[disabled] {
                    background-color: #DDD;
                    border: 1px solid #CCC;
                }

                &[name="url"],
                &[name="method"] {
                    font-weight: bold;
                }

                &.padded {
                    &.span6 {
                        //.inputColumns(5.75)
                    }
                }
            }

            select {
                background-color: @white;
            }

            .control-group {
                margin-bottom: 10px;

                &.success {
                    input,
                    textarea {
                        color: @gray;
                    }
                }

                .control-label {
                    height: 20px;
                    line-height: 20px;
                    color: @gray;
                    margin-bottom: 2px;

                    a {
                        display: block;
                        float: left;
                        width: 16px;
                        height: 20px;
                        margin-right: 5px;
                        background-image: url('/images/w3-gray.png');
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                    }

                }

                &:hover {
                    .control-label {
                        a {
                            background-image: url('/images/w3.png');
                        }
                    }
                }
            }

            .pairs {
                &.control-group {
                    .input-append {
                        &.error {
                            .formFieldState(#b94a48, #ee5f5b, lighten(#ee5f5b, 30%));
                        }

                        &:last-of-type {
                            .add-on {
                                &.add {
                                    display: block;
                                }

                                &.remove {
                                    display: none;
                                }
                            }
                        }

                        input {
                            margin-bottom: 0px;
                            &:nth-of-type(2) {
                                .border-radius(0);
                                border-left: none;
                            }
                        }

                        .add-on {
                            width: 20px;

                            &.add {
                                display: none;
                                background-color: #57A957;

                                &:before {
                                    content: url('/images/icons/add.png');
                                }
                            }

                            &.remove {
                                background-color: #C43C35;

                                &:before {
                                    content: url('/images/icons/delete.png');
                                }
                            }
                        }

                    }
                }
            }
        }

        .tabbable {
            margin-bottom: 10px;

            .tab-content {
                border: 1px solid #DDD;
                border-top: none;

                padding: 5px 10px;
                margin: -18px 0px 0px 0px;

                .border-radius(0px 0px 4px 4px);
            }
        }

        .container-fluid {
            &.main {
                padding-top: 20px;

                .scrollbar(vertical);

                &[data-screen="main"] {
                    [data-screen="main"] {
                        display: block;
                    }
                }

                &[data-screen="settings"] {
                    [data-screen="settings"] {
                        display: block;
                    }
                }

                &[data-screen="help"] {
                    [data-screen-name="help"] {
                        display: block;
                    }
                }

                &[data-screen="about"] {
                    [data-screen="about"] {
                        display: block;
                    }
                }

                [data-screen] {
                    display: none;
                }

                > .row-fluid > .span3 {
                    height: 1px;
                }

                .sidebar {
                    .box();

                    position: fixed;

                    min-height: 530px;

                    .well {
                        padding: 8px 0px;
                        margin-bottom: 10px;

                        &:last-of-type {
                            position: absolute;
                            bottom: 0px;
                        }
                    }

                    .tabbable {
                        .tab-content {
                            padding-left: 0px;
                            padding-right: 0px;

                            .btn {
                                margin: 5px 0px 5px 10px;
                            }
                        }

                        .nav-list {
                            &.history {
                                li {
                                    &:hover {
                                        .popover {
                                            @width: 500px;

                                            display: block;
                                            opacity: 1;

                                            .inner {
                                                width: @width;

                                                .title {
                                                    padding: 9px 10px;

                                                    .host {
                                                        padding: 5px 0px;
                                                        width: 300px;
                                                        overflow: hidden;
                                                        white-space: nowrap;
                                                        text-overflow: ellipsis;
                                                    }

                                                    button {
                                                        margin-left: 10px;
                                                    }
                                                }

                                                .content {
                                                    padding: 10px;

                                                    .table {
                                                        table-layout: fixed;
                                                        width: @width - 20px;

                                                        th {
                                                            width: 95px;
                                                            vertical-align: top;
                                                        }

                                                        td {
                                                            overflow: hidden;
                                                            white-space: nowrap;
                                                            text-overflow: ellipsis;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            height: 150px;

                            .scrollbar(vertical);

                            li {
                                & + .nav-header {
                                    margin-top: 0px;
                                }

                                a {
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                }
            }
        }

        .autocomplete {
            z-index: 99;

            .box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.1));

            border: 1px solid #CCC;
            border-top: none;

            .border-radius(0px 0px 3px 3px);

            min-height: 19px;
            max-height: 100px;

            background-color: @white;

            .scrollbar(vertical);

            div {
                padding: 3px;

                &.active,
                &:hover {
                    color: @white;
                    background-color: #3875D7;
                    cursor: pointer;
                }
            }
        }
    }
}
